<h2>Are you sure want to delete the user ????</h2>
<%= form_for(:user, :url => {:action => "destroy", :id => params[:id]}) do |f| %>	
	<%= f.submit "delete", :data => {:disable_with => "Deleting user..."} %>
<% end %>