/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

*{
	margin: 0;
	padding: 0;
	font-family: arial,verdana,helvetica,sans-serif;
	font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input,textarea{
	outline: none;
}
input{
	padding: 0 10px;
}
textarea{
	padding: 10px;
	resize: none;
}
p, label{
	letter-spacing: 0.05em;
	line-height: 1.4em;
}
body{
	font-size: 16px;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.arial{
	font-family: arial, verdana, helvetica, sans-serif;
}

 header{	
	background: -webkit-linear-gradient(#126579, #227589);
	background: -moz-linear-gradient(#126579, #227589);
	background: -o-linear-gradient(#126579, #227589);
	background: linear-gradient(#126579, #227589);
	box-shadow: inset 0px -1px 20px #064559;
	div#header_in{
		width: 80%;
		color: #fff;
		overflow: hidden;
		margin: 0 auto;
		height: 50px;
		line-height: 50px;
		h1{
			float: left;
			font-weight: normal;
			text-shadow: 5px 3px 1px #126579;
			letter-spacing: -0.05em
		}
		a{
			color: #fff;
			float: right;
			margin: 0 0 0 30px;
		}
	}
}