//STYLES FOR NOTIFICATIONS#INDEX VIEW

#messages_wrapper{
	width: 85%;
	margin: 2em auto;
	.message_wrapper{
		margin: 0.5em 0;
		border: 1px solid #424652;
		padding: 1em;
		border-radius: 5px;
		p{
			color: #424652;
			letter-spacing: 0.1em;
		}
		.message_details{
			color: #888;
			font-size: 0.9em;
			margin-top: 6px;
			span{
				color: #328599;
			}
		}
	}
}
