//STYLES FOR NOTIFICATIONS#INDEX VIEW

#messages_wrapper{
	width: 80%;
	margin: 1em auto;
	.message_wrapper_unread{
		margin: 0.5em 0;
		padding: 1em;
		background-color: #fbffff;
		border-bottom: 2px solid #ccc;
		border-top: 1px solid #ddd;
		border-radius: 10px 10px 0 0;
		p{
			color: #424652;
			letter-spacing: 0.1em;
			line-height: 1.7em;
		}
		.message_details{
			color: #888;
			font-size: 0.9em;
			margin-top: 6px;
			span{
				color: #328599;
			}
		}
	}
	.message_wrapper_read{
		margin: 0.5em 0;
		padding: 1em;
		background-color: #f8f8ff;
		border-bottom: 2px solid #ccc;
		border-top: 1px solid #ddd;
		border-radius: 10px 10px 0 0;
		p{
			color: #424652;
			letter-spacing: 0.1em;
			font-size: 0.9em;
			line-height: 1.7em;
		}
		.message_details{
			color: #888;
			font-size: 0.9em;
			margin-top: 6px;
			span{
				color: #328599;
			}
		}
	}
}

#new_message_button{
	width: 80%;
	margin: 1.4em auto;
	text-align: right;
	a{
		color: #328599;
		border: 1px solid #328599;
		padding: 3px 6px;
		border-radius: 3px;
	}
}


//STYLES FOR NOTIFICATIONS#NEW VIEW

#new_message_wrapper{	
	display: block;
	form{
		text-align: center;
		margin-top: 5em;
		input[type="text"]{
			height: 2.4em;
			width: 35%;
			border: 1px solid #ccc;
			border-radius: 5px 5px 0 0;
			padding-left: 1em;
			border-bottom: none;
			font-size: 1em;
			letter-spacing: 0.1em;
			color: #424652;
		}
		textarea{
			height: 17em;
			max-width: 35%;
			width: 35%;
			padding: 0 1em;
			font-size: 0.9em;
			letter-spacing: 0.1em;
			line-height: 1.6em;
			color: #424652;
			resize: vertical;
		}
		input[type="submit"]{
			width: 35%;
			height: 2em;
			background-color: #328599;
			color: #fff;
			border: none;
			border-radius: 2px;
			cursor: pointer;
			font-size: 0.95em;
			&:hover{
				background-color: darken(#328599, 10%);
			}
		}
	}
}

//STYLES FOR NOTIFICATIONS#SENT_MESSAGES

#messages_wrapper_sent{
	width: 80%;
	margin: 1em auto;
	h1{
		text-align: center;
		color: #328599;
		letter-spacing: 0.1em;
		margin: 0.5em 0;
	}
	.message_wrapper_unread_sent{
		margin: 0.5em 0;
		padding: 1em;
		background-color: #fff1f1;
		border-bottom: 2px solid #ccc;
		border-top: 1px solid #ddd;
		border-radius: 10px 10px 0 0;
		p{
			color: #424652;
			letter-spacing: 0.1em;
			line-height: 1.7em;
			font-size: 0.9em;
		}
		.message_details_sent{
			color: #888;
			font-size: 0.9em;
			margin-top: 6px;
			span{
				color: #328599;
			}
			span.seen{
				display: none;
			}
		}
	}
	.message_wrapper_read_sent{
		margin: 0.5em 0;
		padding: 1em;
		background-color: #f8f8ff;
		border-bottom: 2px solid #ccc;
		border-top: 1px solid #ddd;
		border-radius: 10px 10px 0 0;
		p{
			color: #424652;
			letter-spacing: 0.1em;
			font-size: 0.9em;
			line-height: 1.7em;
		}
		.message_details_sent{
			color: #888;
			font-size: 0.9em;
			margin-top: 6px;
			span{
				color: #328599;
			}
			span.seen{
				color: #888;
				float: right;
			}
		}
	}
}